<div class="container">
    <mat-toolbar>
        <span>Crear Alumno</span>
    </mat-toolbar>
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="car text-center">
                <div class="card-body bg-dark">
                    <form autocomplete="off" class="mt-4" [formGroup]="crearAlumno" >
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Nombres"
                                formControlName="nombres"
                                [class.is-invalid]="nombreNoValido">
                                <small *ngIf="nombreNoValido" class="text-danger">
                                    Ingresar al menos 5 caractéres
                                </small>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="grado"
                                formControlName="grado"
                                [class.is-invalid]="gradoNoValido">
                                <small *ngIf="gradoNoValido" class="text-danger">
                                    Ingresar al menos 5 caractéres
                                </small>>
                            </div>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control mt-3" placeholder="edad"
                            formControlName="edad"
                            [class.is-invalid]="edadNoValido">
                                <small *ngIf="edadNoValido" class="text-danger">
                                    Ingresar al menos 1 caractér
                                </small>>
                        </div>

                        <div class="col">
                        <mat-form-field>
                            <mat-label>Sexo</mat-label>
                            <mat-select formControlName="sexo">
                              <mat-option *ngFor="let item of sexo" [value]="item">
                                {{item}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="col">
                            <input type="text" class="form-control mt-3" placeholder="promedio"
                            formControlName="promedio"
                            [class.is-invalid]="promedioNoValido">
                                <small *ngIf="promedioNoValido" class="text-danger">
                                    Ingresar al menos 5 caractéres
                                </small>>
                        </div>
                        <div class="mt-3">
                            <button type="text" class="btn btn-secondary mr-3"(click)="goBack()" style="margin-right: 20px;">Volver</button>
                            <button type="submit" class="btn btn-dark btn-lg">Guardar</button>

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    
</div>